@model PostViewModel
@{
    ViewData["Title"] = "Create Post";  
}
<style>
    .content-wrapper{
        padding:20px;
        max-width:1000px;
        margin:0 auto;
        font-family: sans-serif
    }
</style>
<div class="content-wrapper">
<div class="row">
    <div class="col-md-6">
<h2>Create Post</h2>
   </div>
    <div class="col-md-6 text-end">
        <a class="btn btn-primary" asp-action="Index" asp-controller="Post">Back to List</a>
    </div> 
    </div>
    <hr />  
    <form asp-action="Create" asp-controllers="Post" method="Post" enctype="multipart/form-data">
        <div class="validation-summary">
            <div asp-validation-summary="All" class="text-danger"> </div>
        </div>
    <div class="form-group">
        <label asp-for="Post.Title"></label>
        <input asp-for="Post.Title" class="form-control"/>
        <span asp-validation-for="Post.Title" class="text-danger"> </span>
    </div>
    <div class="form-group">
        <label asp-for="Post.CategoryId">  </label>
        <select asp-for="Post.CategoryId" asp-items="Model.Categories" class="form-control">
            <option value="">Select Category</option>
        </select>
        <span asp-validation-for="Post.CategoryId"></span>
    </div>  
    <div class="form-group">
        <label asp-for="Post.Author"></label>
        <input asp-for="Post.Author" class="form-control" />
        <span asp-validation-for="Post.Author" class="text-danger"> </span>
    </div>
    <div class="form-group">
        <label asp-for="Post.Content"></label>
        <textarea asp-for="Post.Content" class="form-control" rows="5"></textarea>
        <span asp-validation-for="Post.Content" class="text-danger"> </span>
    </div>
    <div class="form-group">
        <label asp-for="FeaturedImage"></label>
        <input asp-for="FeaturedImage" class="form-control" />  

    </div>

    <button type="submit" class="btn btn-primary mt-1">Create</button>
    <a class=" btn btn-secondary mt-1">Back to List </a>
    </form>

</div>
  @section Scripts {
    <script src="https://cdn.tiny.cloud/1/avdpbsgl28160trs6cm4y1c60k3hwavfuakbnrm2i3ovtw5d/tinymce/8/tinymce.min.js" referrerpolicy="origin" crossorigin="anonymous"></script>
    <script>
        tinymce.init({
        selector: 'textarea',
        elementpath: false

        
        }) 
    </script>
  }

        